body{
    margin: 0;
    padding: 0;
}
.text-aviso-compra p{
    text-align: center;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
}
div.text-aviso-compra{
    background-color: #1d1d1f;
    margin-top: 0;
    font-family: sans-serif;
}
.link-saiba-mais{
    display: inline-flex;
    color: rgb(41,151,255);
}
h1.principal-title {
    text-align: center;
    background: black;
    color: #ffffff;
    margin: 0;
    padding-top: 110px;
    padding-bottom: 45px;
    font-family: sans-serif;
    font-size: 40px;
}
.title-h2-explor{
    background-color: #101010;
    color: #fff;
    padding-left: 100px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: sans-serif;
    font-size: 35px;
}
a.link-compra {
    text-align: center;
    background: rgb(41,151,255);
    color: #fff;
    padding-top: 7px;
    padding-bottom: 9px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 25px;
    display: inline;
    font-size: 15px;
}
a.link-compra:hover{
    background: rgb(78 164 245);
    transition: .25s;
}
.compra-item{
    text-align: center;
    font-family: sans-serif;
    background-color: black;
    padding-top: 110px;
    padding-bottom: 130px;
}
p.paragrafe-parcelamento{
    color: white;
    margin-bottom: 0;
    margin-top: 30px;
}
.container-foto-principal{
    text-align: center;
    background: black;
}
img.calça-foto-principal{
    width: 70%;
}
.imagem {
    display: none;
    max-width: 100%;
    height: auto;
}

ul.generic-text {
    list-style-type: none;
    margin: 0;
    padding-left: 34%;
    padding-top: 20px;
    padding-bottom: 190px;
    background: #101010;
    font-size: 15px;
}
a.link-generic-text.selected {
    color: white;
    font-family: sans-serif;
    background-color: #101010;
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    opacity: 1;
}
a.link-generic-text{
    color: white;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    opacity: 0.5;
}
a.link-generic-text:hover{
    opacity: 1;
    transition: none;
}
p#descricaoOpcao{
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
    padding-top: 30px;
    padding-left: 35%;
    background: #101010;
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    font-family: sans-serif;
    padding-right: 160px;
    font-size: 15px;
}
li {
    margin-bottom: 10px;
}
.image-categories{
    background-color: #101010;
    padding-bottom: 45px;
}
a {
    text-decoration: none;
    padding: 5px;
    border: 1px solid transparent;
    display: block;
}
.generic-text li{
    border-radius: 25px;
}
.generic-text li:hover{
    background-color: #2e2e30;
    transition: .25s ease;
}
li#li-repele{
    width: 163px;
    text-align: center;
}
li#li-empina{
    width: 166px;
    text-align: center;
}
li#li-modeladora{
    text-align: center;
    width: 184px;
}
li#li-aviamentos{
    text-align: center;
    width: 170px;
}
li#li-composição{
    text-align: center;
    width: 136px;
}


#li-repele a:hover{
    color: white;
    text-align: center;
}
#li-empina a:hover{
    color: white;
    text-align: center;
}
#li-modeladora a:hover{
    color: white;
    text-align: center;;
}
#li-aviamentos a:hover{
    color: white;
    text-align: center;
}
#li-composição a:hover{
    color: white;
    text-align: center;
}

a.selected {
    border: 1px solid #333;
    border-radius: 25px;
}
img#image-impermeável{
    width: 19px;
    filter: invert(1);
    padding-right: 10px;
    padding-left: 5px;
} 
img#image-bumbum{
    width: 19px;
    filter: invert(1);
    padding-right: 10px;
    padding-left: 5px;
}
img#image-modeladora{
    width: 19px;
    filter: invert(1);
    padding-right: 10px;
    padding-left: 5px;
}
img#image-aviamentos{
    width: 19px;
    filter: invert(1);
    padding-right: 10px;
    padding-left: 5px;
}
img#image-composição{
    width: 19px;
    filter: invert(1);
    padding-right: 10px;
    padding-left: 5px;
}