.imagem {
    display: none;
    max-width: 100%;
    height: auto;
}

ul.generic-text {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p#descricaoOpcao{
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
}

li {
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    padding: 5px;
    border: 1px solid transparent;
    display: block;
}

a:hover,
a.selected {
    border: 1px solid #333;
}